<%= div_for article do %>
	<h3>
		<%= link_to article.title, article %>
		<% if article.owned_by? current_user %>
		<span class="actions">
			<%= link_to t('general.edit'), edit_article_path(article) %>
			<%= link_to t('general.delete'), article, :confirm => 'Are you shure?', :method => :delete %>
		</span>
		<% end %>
	</h3>
	<%= simple_format article.body %>
<% end %>