<html>
	<body>
		<p>Someone added a comment to your article <i><%= @article.title %></i></p>
		<p>Go read the comment <%= link_to @article.title, article_url(@article, :host => "localhost:3000") %></p>
	</body>
</html>