<html>
	<body>
		<p>Your friend <%= @sender_name %> thinks you may like an article we have written</p>
		<p>Check out <strong><%= @article.title %></strong> at <%= article_url @article, :host => "localhost:3000" %></p>
	</body>
</html>