<%= form_for(@user) do |f| %>
	<% if @user.errors.any? %>
		<div id="errorsExplanation">
			<h2>There <%= @user.errors.count > 1 ? 'are' : 'is' %> <%= pluralize(@user.errors.count, 'error') %>:</h2>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>	
	<% end %>
	<div class="field">
		<%= f.label :email %><br/>
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :password %><br/>
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation %><br/>
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="actions">
		<%= submit_or_cancel(f) %>
	</div>
<% end %>
